@font-face {
  font-family: radinka;
  src: url(Radnika-Black.woff);
}
*{
  box-sizing: border-box;
}

h2{
  text-decoration: underline;
}

body{
  background-color: #F9F9F9;
  color:#091919;
  font-family: radinka;
}
.container{
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container>div{
  margin-top:10px;
  width: calc(50% - 5px);
  min-width: 500px;
  border: 1px solid  rgb(136, 136, 136);
  padding: 10px;
  border-radius: 10px;
  background-color:#ECECEC;
}

code{
  border-radius: 5px;
}

.err{
  border-bottom: 2px solid #FF4C01;
}

.valid{
  border-bottom: 2px solid #00CC4F; 
}

input{
  height:25px;
  font-size: 18px;
  margin-left: 5px;
  border:0px;
  border-bottom: 2px solid #091919;
  outline: none;
  display: block;
  margin: 15px;
}
.header{
  width: 1200px;
  margin: auto;
  height:200px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../logo.png');
}

#menu{
  display: flex;
  margin-bottom:50px;
  justify-content: flex-end;
}

#menu>a{
  margin: 30px;
  color: #091919;
}
